# Ignore everything
*
!*/

# except for ...
!.gitignore
!.vscode/*
!./LICENSE
!./README.MD
!metas/*.meta
!mods/*/meta.ini
!profiles/*/*
!Going Dusty.compiler_settings
!Going Dusty.wabbajack.meta.json
!57927-1-1424796519.webp