# Ignore everything
*
!*/

# except for ...
!.gitignore
!.vscode/*
!./LICENSE
!README.MD
!metas/*.meta
!mods/*/meta.ini
!profiles/*/*
!Radiant Mojave.compiler_settings
!Radiant Mojave.wabbajack.meta.json
